
header {
	height:100px;
  background:blue;
}

main, aside {
  float:left;
}

main {
  width:70%;
  background:red;
}

.main-inner {
  padding:10px;
  margin:20px;
}

article {
  height:100px;
  background:blue;
  margin-bottom:10px;
}

aside {
	width:30%;
  background:green;
  height:300px;
}

footer {
  height:100px;
  background:orange;
  clear:both;
}
