body {
     width: 100%;
     background-image: url('/images/JP.jpg');
     background-size: cover;
     background-repeat: no-repeat;
}


.logo img { 
	max-height:225px;
	position: absolute;
	left: 1%;
	right: 1%;
}


main {
	width: 70%;
	position: absolute;
	top: 20%;
	left: 50%;
	background-color: #D1D1E0;
	opacity: .75;
	padding: 20px;
	box-shadow: 1px 2px 1px #888888;
	min-width: 200px;
	max-width: 500px;
}

.textBox .about {
	text-align: center;
	font-family:'Libre Baskerville', serif;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

.textBox .aboutText {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
	padding-bottom:15px;
}

.contactInfo {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	margin-top: 10px;
}

@media (min-width:800px) and (max-width:1000px) {
     main {
     	right:0;
     	left: initial;
     	padding:0;
     }
}

@media (max-width:799px) {
     main {
     	top:initial;
     	left: initial;
     	position:relative;
     	width:96%;
     	padding:2%;
     	margin:0;
     }
     .logo {
     	position: relative;
     	height: 225px;
     	padding:0;
     }

}

@media (max-width:400px) {
     body {
     	background-position:-50px;
     	height:600px;
     }
}
