#container {
     width: 100%;
}

.mainImg {
	width: 100%;
	float: left;
	display: inline-block;
}


.logo img { 
	max-height:225px;
}

.about {
	text-align: center;
	font-family:'Libre Baskerville', serif;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

/*main {
	width: 100%;
}

.mainImg {
	width: 100%;
	float: left;
}
*/


aside {
	width: 80%;
	height: 75%;
	background-color: #E0EBEB;
	opacity: .75;
	float: right;
	padding: 20px;
	box-shadow: 1px 2px 1px #888888;
	margin-top: -65%;
	margin-right: 19%;
	min-width: 200px;
	max-width: 500px;
}

.aboutText {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

.contactInfo {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	margin-top: 10px;
}