#container {
     width: 100%;
}

main {
	width: 70%;
	float: right;
	margin-top: 30px;
	margin-bottom: 10px;
}

.date {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

.caption {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}

.jumbo img{
	width: 100%;
	padding-top: 20px;
}

aside {
	width: 30%;
	float: left;
	text-align: center;
	display: block;

}

.logo img{
	max-height:225px;
	margin: 0;
}

.about {
	font-family:'Libre Baskerville', serif;
	font-weight: 700;
	margin: 20px 43px 30px 0;
}

.about a {
	text-decoration: none;
}

.tagTitle {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	margin: 40px 43px 10px 0;
}
	
span {
	border-style: double;
    border-width: 3px;
    padding: 2px 5px 2px 5px;
}

.tags {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	margin: 20px 43px 30px 0;
}

.logoMobile {
     display: none;
}

h3 {
     font-family: arial;
}

@media (min-width:720px) and (max-width:990px) {
     .logoMobile {
          display:block;
          width: 100%;
          text-align: center;
     }

     .logoMobile img {
          max-height: 175px;
      }

     .logo {
          display:none;
     }

     main, aside, .tags, .about, .tagTitle {
     	float:none;
     	margin: 10px auto;
     	width:100%;
     }
}

@media (min-width:200px) and (max-width:719px) {
     .logoMobile {
          display:block;
          width: 100%;
          text-align: center;
     }

     .logoMobile img {
          max-height: 125px;
     }
 
 
     .item {
          width:100%;
          display:inline-block;
     }

     .logo {
          display:none;
     }

     main, aside, .tags, .about, .tagTitle {
     	width:100%;
     	float:none;
     	margin: 10px auto;
     }
}

