#container {
     width: 100%;
}

.item {
     float: left;
     width: 33.33%;
     display: inline-block;
     line-height: 0;
}

.item img {
     width:100%;
}

.logoLarge {
     height:200px;
}

h3 {

}

.logoMobile {
     display:none;
}

@media (min-width:720px) and (max-width:1099px) {
     .mobileLogo {
          display:block;
          width: 100%;
          height: 200px;
     }
 
     .item {
          width:50%;
          display:inline-block;
          }
     .logoLarge {
          display:none;
     }

     .navLarge {
          display:none;
     }
}

@media (min-width:320px) and (max-width:719px) {
     .mobileLogo {
          display:block;
          width: 100%;
          height: 150px;
     }
 
     .item {
          width:100%;
          display:inline-block;
     }

     .logoLarge {
          display:none;
     }

     .navLarge {
          display:none;
     }


